  .unauthenticatedHome {
      color: #fff;
      text-align: center;
      height: 100vh;
    }

    div {
      height: 100%;
      margin-top: 0;
    }

    article {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    h1 {
      font-size: 1.75rem;
    }

    /* Pattern styles */
    .left-and-right {
      display: table;
      width: 100%;
      margin: -6% 0;


    }

    .left-half {
   // background-color: rgb(133, 133, 233);
      position: absolute;
      left: 0px;
      width: 50%;
      background: linear-gradient(rgba(193, 213, 242, 0.728), rgba(169, 198, 240, 0.728));
    }

    .left-half p {
      color: black;
      font-size: 18px;
    }

    .left-half h1 {
      font-family: Libre Baskerville; 
      font-size: 45px; 
      margin-bottom: 10px;
      color: rgb(13, 0, 255);

    }

    .right-half {
   // background-color: #5276ac;
      position: absolute;
      right: 0px;
      width: 50%;
      background: linear-gradient(rgba(193, 213, 242, 0.728), rgba(169, 198, 240, 0.728));

      background: linear-gradient(rgba(193, 213, 242, 0.728), rgba(169, 198, 240, 0.728)), url('https://d32ogoqmya1dw8.cloudfront.net/images/assessment/thinker.jpg')no-repeat center;
    }

    
